$primary:    #000;
$primary-2:  #131313;
$primary-3:  #202020;

// Do not change or remove the $theme-color-scheme or $theme-colors maps below
$theme-color-scheme: (
  "primary":    $primary,
  "primary-2":  $primary-2,
  "primary-3":  $primary-3
);

$theme-colors: (
  "primary":    $primary,
  "primary-2":  $primary-2,
  "primary-3":  $primary-3,
);

$theme-blue: #B2D9F6;
$theme-gold: #C3B774;
$theme-green: #7BCFB3;
$theme-rust: #BE8170;
$theme-salmon: #F6BCB2;
$theme-grey: #C1C7CC;
