
RetargetWidget QAbstractItemView {
    show-decoration-selected: 1;  /* highlight decoration (branch) */
    border: none;
    selection-color: "%(on_hovered)s";
    selection-background-color: "%(hovered)s";
    color: "%(on_primary)s";
    background-color: "%(background)s";
    alternate-background-color: "%(background_alt)s";
}
RetargetWidget QAbstractItemView:focus {
    border: none;
}

RetargetWidget QTreeView::item {
    border: 0px;
    padding: 3px;
    padding-right: 10px;
    padding-left: 8px;  /* more space for icon and indicator */
}

/* note: transparent background color is really hard to look good */

RetargetWidget QTreeView::branch:selected,
RetargetWidget QAbstractItemView::item:selected:active,
RetargetWidget QAbstractItemView::item:selected:!focus {
    color: "%(on_selected)s";
    background-color: "%(selected)s";
}

RetargetWidget QTreeView::branch:hover:!selected,
RetargetWidget QAbstractItemView::item:hover {
    color: "%(on_hovered)s";
    background-color: "%(hovered)s";
}

RetargetWidget QTreeView::branch::has-children::!has-siblings:closed {
    image: url("%(res)s/ui/caret-right-fill.svg");
}
RetargetWidget QTreeView::branch:closed::has-children::has-siblings {
    image: url("%(res)s/ui/caret-right-fill.svg");
}
RetargetWidget QTreeView::branch:open::has-children::!has-siblings {
    image: url("%(res)s/ui/caret-down-fill.svg");
}
RetargetWidget QTreeView::branch:open::has-children::has-siblings {
    image: url("%(res)s/ui/caret-down-fill.svg");
}
RetargetWidget QTreeView::branch::has-children::!has-siblings:closed:hover {
    image: url("%(res)s/ui/caret-right-fill-on.svg");
}
RetargetWidget QTreeView::branch:closed::has-children::has-siblings:hover {
    image: url("%(res)s/ui/caret-right-fill-on.svg");
}
RetargetWidget QTreeView::branch:open::has-children::!has-siblings:hover {
    image: url("%(res)s/ui/caret-down-fill-on.svg");
}
RetargetWidget QTreeView::branch:open::has-children::has-siblings:hover {
    image: url("%(res)s/ui/caret-down-fill-on.svg");
}

RetargetWidget QTreeView::indicator:unchecked {
    image: url("%(res)s/ui/square.svg");
}
RetargetWidget QTreeView::indicator:checked {
    image: url("%(res)s/ui/square-check.svg");
}

RetargetWidget QPushButton {
    background: transparent;
    border: none;
    border-radius: 2px;
    width: 22px;
    height: 22px;
}
RetargetWidget QPushButton:pressed {
    background: rgba(50,50,50,100);
}
RetargetWidget QPushButton:!pressed:hover,
RetargetWidget QPushButton:!pressed:hover:checked,
RetargetWidget QPushButton:!pressed:hover:!checked {
    background: rgba(255,255,255,60);
}
