@font-face {
    font-family: "Sora";
    font-weight: normal;
    src: url("Sora-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Sora";
    font-weight: bold;
    src: url("Sora-ExtraBold.ttf") format("truetype");
}

body,
input {
  font-family: "Roboto", helvetica;
}

blockquote p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

img {
  border-radius: 5px;
  min-width: 1px;
}

a.md-nav__link img {
  width: 17px;
  margin-right: 3px;
}

[data-md-color-primary="white"] .md-nav__link--active,
[data-md-color-primary="white"] .md-nav__link:active,
[data-md-color-primary="white"] .md-nav__link {
    display: flex;
    align-items: center;
}

a[title="Edit this page"] {
    display: none;
}

.space {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
}

.small-space {
  display: inline-block;
  min-width: 10px;
  min-height: 10px; 
}

.spacing {
  flex-grow: 2;
}

.disabled {
    cursor: not-allowed;
}

.md-grid {
    max-width: 57rem;
}

/* There's typically some space at the top of each article 
   that we don't need, since we aren't showing h1 */
.md-content__inner:before {
  height: 0;
}

.md-content__inner {
  padding-top: 0;
}

/* Items in a list are typically too far apart */
.md-typeset ol li, .md-typeset ul li {
    margin-bottom: 5px;
}

/* Faded items in the table of contents, as the user scrolls */
.md-nav__link[data-md-state=blur] {
    color: rgba(0,0,0,.34);
}

.md-typeset, .md-sidebar {
  font-family: Segoe UI,
               Roboto,
               Oxygen,
               Ubuntu,
               Cantarell,
               Fira Sans,
               Droid Sans,
               Helvetica Neue,
               sans-serif;
  text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.4;
  color: #424242;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.md-typeset code {
  box-shadow: none;
  border: 1px solid #eee;
  color: #c2185b;  /* Redish */
  padding: 0 3px;
  background-color: transparent;
}

td code {
    white-space: nowrap;
}

/* Task list styling */
.md-typeset .task-list-item [type="checkbox"] {
    position: absolute;
    top: 0;
    left: -20px;
}

.md-typeset .task-list-item {
    padding-left: 5px;
}

.md-typeset ol, .md-typeset ul {
    line-height: 1.3em;
}

/* Reduce distance between help-boxes */
.md-typeset .admonition, .md-typeset details {
  margin: 6px 0;

  /* This is normally much too small */
  font-size: inherit;
}

.md-typeset details.quote>summary {
    font-size: 0.7rem;
    font-weight: 400;
}

/* Remove padding from lists, it doesn't look good */
.md-typeset ol, .md-typeset ul {
  margin-left: 0;
}

/* Keep images from growing too large in the vertical */
.md-typeset img, .md-typeset svg {
    max-height: 460px;
}

.md-typeset .codehilite, .md-typeset .highlight {
  min-width: 50%;
  background: transparent;
  border: 1px solid #eee;
  margin-top: 0;
}

.codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  border: none;
  margin: 0;
}

/* Remove that annoying horizontal line at the bottom */
.md-typeset hr {
    border-bottom: none;
}

pre {
  color: #ccc !important;
}

.md-clipboard:before {
    color: rgb(200, 200, 200);
}

/* Hovering a link */
.md-nav__link:focus, .md-nav__link:hover {
  color: #86c8ef;
}

/* Default has some extra space here,
   which interfers with our use of background-color */
.md-nav__item:last-child {
  padding-bottom: 0px;
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(200, 200, 200, 0.54) !important
}

.codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  font-family: "Source Code Pro";
  font-size: 0.95em;
}

input, select, textarea{
  color: green;
}

.md-header[data-md-state] {
  box-shadow: none;
  border-bottom: 1px solid #f3f3f3;
}

.md-typeset a, .md-typeset a:before {
  color: #03a9f4;
}

.md-typeset h2 {
  font-family: "Sora";
  font-weight: bold;
  font-size: 2em;
  color: #222;
  line-height: 0.8;
  text-transform: uppercase;
}

[data-md-color-primary=white] .md-search__input {
  background-color: transparent;
  border: 1px solid #f3f3f3;
}

nobr {
  display: flex;
  align-items: center;
  justify-content: left;
}

.invertme {
  filter: invert();
}

.icon {
  margin-right: 5px !important;
}



/*

Tables

*/


.md-typeset tr {
  border-bottom: 1px solid #eee;
  border-bottom: none;
}

.md-typeset table:not([class]) {
  /* Fill the width */
  display: table;

  width: initial;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.md-typeset .md-typeset__table table {
  overflow: inherit;
}

.md-typeset table:not([class]) td {
    border-top: none;
    padding: 0.4rem 0.5rem; 
}

.md-typeset table:not([class]) td {
    border-top: .1rem solid rgba(0, 0, 0, .07);
    border-top: none;
    vertical-align: top;
}

.md-typeset table:not([class]) th {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    min-width: 30px;
}

.md-typeset .md-typeset__table {
  /* Fill the width */
    display: inherit;

    padding: 0.5rem 0.5rem;
}

.md-sidebar__scrollwrap {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.md-sidebar__scrollwrap:hover {
    scrollbar-color: hsl(0, 0%, 46.3%) transparent;
}

.md-typeset .md-typeset__scrollwrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .26)
}

.md-typeset .md-typeset__scrollwrap::-webkit-scrollbar-thumb:hover {
  /*background-color: #536dfe;*/
  background-color: hsl(210, 1%, 40%);
}

.md-typeset table:not([class]) tr td {
  padding-left: 16px;
  /*padding-right: 26px;*/
  border-left: 1px solid #e5e5e5;
}

.md-typeset th, .md-typeset td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.md-typeset tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}

.md-typeset tr td:first-child {
  white-space: nowrap;
}

.md-nav--primary .md-nav__title[for="__drawer"] {
    display: none;
}

.filler {
  width: 20px;
}

.boxshadow {
  box-shadow: 0 0 0.5rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.1);
}

.hero-image {
  max-height: 400px;
  object-fit: fill;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  /*mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
}

.hero-underlay {
  position: absolute;
  top: 80px;
  z-index: -1;
  border: none;
}

.overlaid-media {
  position: relative;
}

.poster {
  box-shadow: 0 0 1.2rem rgba(0,0,0,.2), 0 0.2rem 0.4rem rgba(0,0,0,.2);
  border-radius: 10px;
}

.no-radius {
  border-radius: 0;
}

.no-padding {
  padding: 0 !important;
}

.overlaid-container code {
    border: 1px solid #854a4a;
    color: #f25757;
    background-color: #3713137a;
}

.overlaid-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 0.9em;
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.overlaid-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background-color 50ms ease-in;
}

.overlaid-media:hover .overlaid-background {
  background: rgba(0, 0, 0, 0.9);
}

.overlaid-media:hover .overlaid-container {
  opacity: 1;
}

.overlaid-container h3 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
  color: white !important;
}

.md-typeset .bug > .admonition-title, .md-typeset .bug > summary,
.md-typeset .question > .admonition-title, .md-typeset .question > summary,
.md-typeset .info > .admonition-title, .md-typeset .info > summary,
.md-typeset .example > .admonition-title, .md-typeset .example > summary {
  background-color: #fcfcfc;
}

.md-typeset details.example > p {
  display: none;
}

.md-typeset details.example {
  padding: 0;
}

.md-typeset details.example summary:not(.focus-visible) {
  margin: 0;
  margin-left: -4px;
}

h2, h3, h4, b, strong {
  color: #333;
}

.md-typeset h5, .md-typeset h6 {
    font-weight: initial;
    font-size: 1.1em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  height: 20px;
}

.button:active {
  position: relative;
  top: 6px;
}

.button img {
  max-width: 100%
}

.button .image {
  /*flex-basis: 40%*/
}

.button a {
  font-size: 20px;
  padding-left: 20px;
}

.button b {
  color: inherit;
}

a strong {
  color: #03a9f4;
}

.md-nav__item.md-nav__item--active {
  /*background-color: #e4f3ff;*/
}

.md-nav__link {
  margin-top: 0; 
  padding-top: 4px;
  padding-bottom: 4px;
}

.md-typeset h1 {
  display: none;
}

.md-typeset h3 {
  font-weight: bold;
  font-size: 1rem;
}

.md-typeset h4 {
  font-weight: inherit;
  font-size: 0.9rem;
}

.md-footer-copyright__highlight, .md-footer-copyright {
  display: none;
}

/* Hide left-sidebar header */
.md-nav__title--site {
  display: none;
}

.md-nav {
    font-size: .6rem;
    line-height: 1.3;
    color: #696969;
}

nav.md-nav.md-nav--primary {
    font-size: .65rem;
}

.md-footer {
  margin-top: 100px;
}

.md-footer-meta__inner {
    padding: 0.8rem;
}

div.tabs {
  padding-left: 1px;
}

div.tabs button.active {
  color: #1f1f1f;
  position: relative;
  border-bottom: 6px solid steelblue;
}

div.tabs button {
  outline: none;
  cursor: pointer;
  position: relative;
  color: #6363635e;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 6px 14px 7px 0px;
  transition: 0.2s;
  font-size: 0.7rem;
}

.tab-content {
  background: white;
  display: none;
  padding: 0;
  border: none;
}

.md-typeset .tab-content .codehilitetable .linenos {
  display: none;
}

.md-typeset .tab-content .codehilitetable {
  margin: 0;
}

button.tab p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.1rem;
}

button.tab div.tab-gap {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  z-index: 5;
  left: 0;
  display: none;
}

button.tab.active div.tab-gap {
  display: block;
}

[data-md-color-primary] .md-typeset a.button {
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  max-width: 400px;
  min-width: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*display: block;*/
  border-radius: 3px;
  margin: 5px;
  margin-left: 0;
  /*margin-right: 10px;*/
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  transition: background 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.vboxlayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hboxlayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.lightblue {
  background: #B2D9F6;
  box-shadow: 0px 6px #6eb7ee;
}

.white:active {
  background: #ddd;
  box-shadow: 0px 0px #ddd;
}

.white:hover {
  background: #fff;
  position: relative;
}

.light:active {
  background: #81ADCD;
  box-shadow: 0px 0px #599FD3;
}

.light:hover {
  background: #CADFEE;
}

.gold {
  background: #C3B774;
  box-shadow: 0px 6px #A79C5D;
}

.lightgreen {
  background: #7BCFB3;
  box-shadow: 0px 6px #5FB397;
}

.rust {
  background: #BE8170;
  box-shadow: 0px 6px #9b5946;
}

.salmon {
  background: #F6BCB2;
  box-shadow: 0px 6px #ee806e;
}

.grey {
  background: #C1C7CC;
  box-shadow: 0px 6px #949FA9;
}

.darkgrey {
  background: #8F9397;
  box-shadow: 0px 6px #747A80;
}

.green {
  background: #5aa926;
  box-shadow: 0px 6px #418624;
}

.green:active {
  background: #79c15c;
  box-shadow: 0px 0px #79c15c;
}

.green:hover {
  background: #79c15c;
}

.yellow {
  background: #DAB431;
  box-shadow: 0px 6px #BF9B1F;
}

.black {
  background: #414141;
  box-shadow: 0px 6px #292929;
}

.blue {
  background: #3498db;
  box-shadow: 0px 6px #2980b9;
}

.blue:active {
  background: #2980b9;
  box-shadow: 0px 0px #2980b9;
}

.blue:hover {
  background: #4BA4DE;
}

.red {
  box-shadow: 0px 6px #c0392b;
  background: #e74c3c;
}

.red:active {
  box-shadow: 0px 0px #c0392b;
  background: #c0392b;
}

.red:hover {
  background: #E55E50;
  position: relative;
}

.gray {
  box-shadow: 0px 6px #777;
  background: #999;
}

.gray:active {
  box-shadow: 0px 0px #777;
  background: #777;
}

.gray:hover {
  background: #777;
  position: relative;
}

div.tabs button.active p {
  text-shadow: none;
}

/* Only visible on a larger surface area (not mobile) */
.floating-image {
  display: none;
}

.summary {
  font-weight: 600;
}

.example .image {
  float: left;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.example h3 {
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-weight: normal;
  color: black;
}

.example p {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 3px;
}

.example a {
  width: 100px;
  height: 20px;
  font-size: 0.9em;
}

.example .image {
  position: relative;
}

.example .image code {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 0.7em;
  margin: 5px;
  padding-left: 2px;
  padding-right: 2px;
  background: black;
  border-radius: 2px;
  border: none;
}

.example .example-button {
  color: white;
  text-decoration: none;
  background-color: steelblue;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 5px;
  border-bottom: 5px solid #2b6290;
}


.no-max-height {
  max-height: inherit !important;
}

.text-align-center {
  text-align: center !important;
}

.code-red {
  color: #B13333 !important;
  background: #f7d7d733 !important
}

.code-green {
  color: #527C14 !important;
  background: #dfeaa933 !important;
}

.code-blue {
  color: #339FB1 !important;
  background: #a9e1ea29 !important;
}

.align-center {
  align-items: center;
}

.align-right {
  text-align: right;
}

.padding-top {
  padding-top: 10px;
}

.padding-left {
  padding-left: 5px;
}

.node-header {
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small-node-header {
  max-height: 200px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 60em) {
  .hboxlayout {
    flex-direction: column;
    justify-content: center;
    align-content: start;
    align-items: center;
  }

  .vboxlayout {
    align-items: center;
  }

  .vboxlayout p {
    width: 75%;
  }
}

[data-md-color-primary="white"] .md-search__form {
    background-color: rgba(255, 255, 255, 0.0);
}

@media only screen and (min-width: 60em) {
  [data-md-toggle]:checked~.md-header .md-search__input+.md-search__icon, [data-md-toggle]:checked~.md-header .md-search__input::placeholder {
      color: rgba(0, 0, 0, .30);
  }

  .md-search__input+.md-search__icon, .md-search__input::placeholder {
      color: rgba(0, 0, 0, .30);
  }
  .floating-image {
    float: right;
    display: inherit;
  }

}

@media only screen and (min-width: 76.25em) {
  .md-sidebar--primary .md-sidebar__inner {
      /*border-right: 1px solid rgba(0, 0, 0, .07);*/
      /*margin-right: -1px;*/
  }

  .md-sidebar--secondary .md-sidebar__inner {
    border-left: 1px solid rgba(0, 0, 0, .07);
  }

}

[data-md-color-primary=white] .md-nav__link--active, [data-md-color-primary=white] .md-nav__link:active {
    color: #03a9f4;
}

/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend {
  font-size: .825em;
  margin-bottom: .5em;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  color: inherit;
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm button,
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm button:focus,
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm button,
#fs-frm select {
  text-transform: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}