/* Styling specifically for the landing page */


/*
.md-main {
  background: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'> <path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom, linear-gradient( to bottom, #0f3229, #405858 99%, yellow 99% );
}

.md-header[data-md-state] {
  box-shadow: none;
  border-bottom: none !important;
  background: #0f3229;
  color: white;
}

[data-md-color-primary="white"] .md-search__input {
    border: none !important;
}

[data-md-color-primary="white"] .md-search__input + .md-search__icon {
    color: white !important;
}
*/

.md-source-date, .md-footer {
  display: none;
}

.md-content {
  max-width: none;
}

#pypiBadge {
  padding-top: 5px;
}

.vboxlayout p {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 300;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex-item {
  flex: 1;
}

.align-center {
  align-items: center;
}

.space {
    min-height: 100px;
    min-width: 100px;
}

.smallspace {
    min-height: 30px;
    min-width: 30px;
}

.auto-margin {
  margin: auto auto;
}

.stretch {
  flex-grow: 1;
}

.poster {
  box-shadow: 0 0 1.2rem rgba(0,0,0,.2), 0 0.2rem 0.4rem rgba(0,0,0,.2);
  border-radius: 10px;
}

.spacing {
  width: 200px;
}

.md-typeset h2 {
  font-family: Sora;
  font-size: 4.0em;
  margin-top: 0;
  line-height: 1em;
}

.nomargin {
  margin-bottom: 6px !important;
}

.badges {
  margin-bottom: 8px !important;
}

.landing {
  display: none;
  color: #eee;
}

#title {
  font-family: Sora;
  font-weight: bold;
  font-size: 3.5em;
  color: #222;
  margin-bottom: 0;
  line-height: 44px;
  left: -3px;
  position: relative;
}

#landing {
  align-items: center;
}

#description {
  font-size: 1em;
  max-width: 420px;
  padding-right: 50px;
}

#conclusion {
  text-align: center;
}

[data-md-color-primary] .md-typeset a.button {
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  max-width: 400px;
  min-width: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border-radius: 3px;
  margin: 5px;
  margin-left: 0;
  margin-right: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  transition: background 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

/* Little pen icon, to edit the page*/
.md-content__icon {
    display: none;
}

.button:active {
  position: relative;
  top: 6px;
}

.green {
  background: #5aa926;
  box-shadow: 0px 6px #418624;
}

.green:active {
  background: #79c15c;
  box-shadow: 0px 0px #79c15c;
}

.green:hover {
  background: #79c15c;
}

.blue {
  background: #3498db;
  box-shadow: 0px 6px #2980b9;
}

.blue:active {
  background: #2980b9;
  box-shadow: 0px 0px #2980b9;
}

.blue:hover {
  background: #4BA4DE;
}

.red {
  box-shadow: 0px 6px #c0392b;
  background: #e74c3c;
}

.red:active {
  box-shadow: 0px 0px #c0392b;
  background: #c0392b;
}

.red:hover {
  background: #E55E50;
  position: relative;
}

.md-typeset, .md-sidebar {
  color: white;
}

.md-typeset a {
    color: white;
    font-weight: 400;
}

.md-typeset .codehilite, .md-typeset .highlight {
  min-width: 50%;
}

.codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  font-family: "Source Code Pro";
  font-size: 1.11em;
}

/* Smaller width */
@media only screen and (max-width: 1219px) {
  .landing {
    display: inherit;
  }
}

/* Mobile */
@media only screen and (max-width: 60em) {
  .md-typeset img {
    margin: 0 auto;
  }

  [data-md-color-primary] .md-typeset a.button {
    margin: 5px auto;
  }

  #description {
    padding: 0;
    width: inherit;
  }

  .container {
    margin: 0px auto;
    padding-top: 20px;
    text-align: center;
  }

  h2 {
    padding-top: 100px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .space {
    min-height: 0px;
  }
}