// 
// 
// footers.scss
//
//

footer{
  padding: $default-section-padding 0;

  .logo {
    width: 245px;
  }

  small {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
  }
}
