// 
// 
// lists.scss
//
//

ul {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

ul.dash-list {
  list-style-type: none;
  padding-left: 20px;

  & > li:before {
    content: "—";
    position: absolute;
    margin-left: -16px; 
  }
}