<footer class="pb-4 bg-primary text-light text-center" id="footer">
  <div class="container">


    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <img src="/assets/images/fulllogo.png" class="logo">
        <br>
        <br>
      </div>
    </div>


    <div class="row justify-content-center mb-3 text-blue">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCnIvNZjmO4WpvXXT94boI-w/featured" target="_blank" class="nav-link">
              <img class="icon " src="/assets/images/icons/social/youtube.svg" alt="youtube social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/company/ragdolldynamics" target="_blank" class="nav-link">
                <img class="icon " src="/assets/images/icons/social/linkedin.svg" alt="linkedin social icon" data-inject-svg />
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="flex footer-columns">
      <div class="footer-column">
        <p>RAGDOLL</p>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="https://learn.ragdolldynamics.com/download/#faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <p>PLATFORM</p>
        <ul>
          <li><a href="https://store.steampowered.com/ap</a>p/1467930/Ragdoll_Dynamics">Steam</li>
          <li><a href="https://gumroad.com/l/ragdoll">Gumroad</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <p>NEWS</p>
        <ul>
          <li><a href="https://3dnchu.com/archives/ragdoll-dynamics-maya/">Press</a></li>
          <li><a href="https://learn.ragdolldynamics.com/releases">Blog</a></li>
          <li><a href="/contact">Newsletter</a></li>
          <li><a href="https://learn.ragdolldynamics.com/releases">Release Announcements</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <p>LEARN</p>
        <ul>
          <li><a href="https://learn.ragdolldynamics.com/api">API</a></li>
          <li><a href="https://learn.ragdolldynamics.com/examples">Examples</a></li>
          <li><a href="https://learn.ragdolldynamics.com/overview">Manuals</a></li>
          <li><a href="https://learn.ragdolldynamics.com/overview">Tutorials</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <p>COMMUNITY</p>
        <ul>
          <li><a href="https://forums.ragdolldynamics.com">Forums</a></li>
          <li><a href="https://discord.gg/BZvr75PuwS">Discord</a></li>
          <!-- <li><a href="/about">Facebook</a></li> -->
          <!-- <li><a href="/about">Twitter</a></li> -->
          <li><a href="https://www.youtube.com/channel/UCnIvNZjmO4WpvXXT94boI-w">YouTube</a></li>
          <li><a href="https://www.linkedin.com/company/ragdolldynamics">LinkedIn</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <p>LEGAL</p>
        <ul>
          <li><a href="/eula">Licence</a></li>
          <li><a href="/eula">EULA</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
