<div class="navbar-container ">
  <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="/">
        <img src="/assets/images/logo.png" class="logo" alt="Ragdoll">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="{{ base_url }}/assets/images/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
        <img class="icon navbar-toggler-close" src="{{ base_url }}/assets/images/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
      </button>

      <div class="collapse navbar-collapse justify-content-end">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="https://learn.ragdolldynamics.com/overview/" class="nav-link text-rust">Learn</a></li>
            <li class="nav-item"><a href="https://forums.ragdolldynamics.com" class="nav-link text-blue">Forums</a></li>
            <li class="nav-item"><a href="/pricing" class="nav-link text-green">Pricing</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link text-gold">Contact</a></li>
          </ul>
        </div>

        <a class="btn btn-white ml-lg-2" href="https://transactions.sendowl.com/cart?merchant_id=201516" rel="nofollow">View Cart</a>
        <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

      </div>
    </div>
  </nav>
</div>
